<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="author" content="Victor Koronen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container">

      {{ content }}

      <hr>

      <footer>
        <p>Victor Koronen &copy; 2012 | Built with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></p>
      </footer>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
